body {
  display: flex;
  flex-direction : column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.etape {
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.opt {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

button:hover {
  border-color: yellow;
}

#choixperso img{
  width: 200px;
  height: 325px;
  max-width: 80%;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  display : inline-block;
}

#choixperso img:hover{
	background-color:white
}

label{
	color: white
}

#choixperso p{
	color:white
}

#stats{
  display: flex;
  width: 400px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}